@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Outfit:wght@400;700&family=Roboto:wght@100;300;400;700&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d74949;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 80vw;
  height: 90vh;
  background-color: #f3f3f3;
  margin: auto;
  padding: 6.25rem 3.1875rem 6.25rem 3.125rem;
}

.container h1 {
  width: 63.0625rem;
  line-height: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: #000;
  line-height: 1rem;
}
.container h2 {
  text-align: right;
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.07rem;
  line-height: 1.1875rem;
}
.container > p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.4375rem;
}
.am {
  color: #8f2727;
  text-transform: uppercase;
}

.card {
  margin: 2.375rem 0 100px 0;
  width: 12.5rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.9375rem;
  background: #fff;
  box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 6.25rem;
}
.image {
  width: 12.5rem;
  height: 11.5625rem;
}

.image img {
  width: 100%;
  max-height: 100%;
  border-radius: 0.9375rem 0.9375rem 0px 0px;
}
.p1 {
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.035rem;
}

.p2 {
  font-size: 0.875rem;
  font-weight: 300;
  padding: 0.1875rem 0 0.625rem 1.25rem;
  line-height: 1rem;
}

.networks {
  margin-left: 1.25rem;
}
.networks img {
  width: 1.125rem;
  height: 1.125rem;
}

footer {
  background-color: #3a3a3a;
  width: 100vw;
  height: 10vh;
  text-align: center;
  padding: 2.375rem;
  position: fixed;
}
footer p {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
}
